@charset "utf-8";
/* CSS Document */

/*.top-bar {background: none; border-bottom: 1px solid #eee;}

.top-bar li.name h1 a {color: #0F4AFC}
.top-bar-section ul li {background: none;}
.top-bar-section li:not(.has-form) a:not(.button) {background: none; color: #0F4AFC;}
.top-bar-section li:not(.has-form) a:not(.button):hover {background: none; color: #0F4AFC;}
*/

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#body {
    padding-bottom:100px;
}

.footer {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

#pushButton {
    text-align: center!important;
    margin: 100px auto;
}

#pushButton a {
    display: block;
}

.footer {
    text-align: center;
}

.footer .links a {
    list-style: none;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: .8em;
}

.footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
}

.footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
}

/*body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}


#pushButton {
    width: 200px;
    height: 200px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}*/